/* these styles apply to the entire page */

h1 {
  Text-align: center;
}
section {
  border: 0px solid grey;
  padding-left: 1em;
  margin: 1em;
}
div {
margin: 1em
}
body {
  font-family: fantasy;
  padding-left: 5em;
  margin: 1em;
  background-color: rgb(128, 157, 225);
}
table {
  margin: 1em;
}
tbody > tr > td {
  border-top: 1px solid black;
}
thead {
  font-weight: bold;
}
svg {
  border: 0px dashed grey;
}
div.tooltip {
  position: absolute;
  text-align: center;
  width: auto;
  padding: 5px;
  font: 12px monospace;
  background: rgba(25, 44, 82, 0.9);
  border-radius: 8px;
  color: white;
}
